.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.main-container-cards {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 260px;
}

.card-container {
  height: 240px;
  width: 170px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  color: black;
}

.filter {
  margin-bottom: 20px;
}